<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
	<appSettings>
    <!--Solution Settings-->
    <add key="DriversPath" value="\Drivers" />
    <add key="WebDriverType" value="Chrome" /> <!--Values: FireFox, IExplorer, Chrome, Edge-->
    <add key="DefaultImagePath" value="C:\test\img\" />
    <add key="DefaultReportPath" value="C:\test\reports\" />
    
    <!--Data already created on Portal for automation testing purposes-->
    <add key="UserName" value="gviruega@velocitypartners.net" />
    <add key="WrongUserName" value="unexistentuser@velocitypartners.net" />
    <add key="UserPass" value="test_123" />
    <add key="WrongUserPass" value="unexistentpass" />
    <add key="FullName" value="GUSTAVOVIRUEGA" />
    <add key="AutomationCompany" value="Automation Company" />
    <add key="AutomationProperty" value="Automation Property" />
    <add key="AutomationPropertyID" value="30495" />

    <!--Values to use to create data in Portal-->
    <add key="CompanyName" value="Gustavo Company" />
    <add key="PropertyName" value="Gustavo Property" />
    <add key="Address1" value="742 Evergreen Terrace" />
    <add key="GeneralItemName" value="General_Item" />
    <add key="GeneralItemValue1" value="100" />

    <!--Toast Messages-->
    <add key="ToastSuccessTitle" value="Success!" />
    <add key="ToastErrorTitle" value="Error!" />
    <add key="ToastWrongNameMsg" value="Login Failed: Invalid Username" />
    <add key="ToastWrongPassMsg" value="Login Failed: Invalid Password" />
    <add key="ToastNewCompanyMsg" value="The Company was successfully created" />
    <add key="ToastNewPropertyMsg" value="The property was successfully created" />
    <add key="ToastEditPropertyMsg" value="Content was successfully saved" />
    <add key="ToastNewGeneralItemMsg" value="General Item successfully created" />

    <!--Validation Messages-->
    <add key="MsgCompanyType" value="Company type is required" />
    <add key="MsgCompanyName" value="Company name is required" />
    <add key="MsgPropertyName" value="Name is required" />
    <add key="MsgItemName" value="Name is required" />
    <add key="MsgItemValue" value="Please specify Value" />
    
    <!--Portal Components Default Values-->
    <add key="CreateNewButtonLabel" value="Create New" />
    <add key="CreateNewCompanyHeader" value="CREATE NEW COMPANY" />

    <!--TestRail API Settings-->
    <add key="TestRailApiURL" value="https://infotycoon.testrail.net/"/>
    <add key="TestRailUser" value="gviruega@velocitypartners.net"/>
    <add key="TestRailPassword" value="test_123"/>

  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>