<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=tcp:itdbreporting.cloudapp.net,14333;Initial Catalog=InfoTycoonDev;User ID=vp_devs;Password=nvpua135!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
 <appSettings>
	<!--Solution Settings-->
    <add key="DriversPath" value="\Drivers" />
    <add key="WebDriverType" value="Chrome" /> <!--Values: FireFox, IExplorer, Chrome, Edge-->
    <add key="DefaultImagePath" value="C:\test\img\" />
    <add key="DefaultReportPath" value="C:\test\reports\" />
    
    <!--Data already created on Portal for automation testing purposes-->
    <add key="UserName" value="enter_a_username" />
    <add key="WrongUserName" value="unexistentuser@gmail.net" />
    <add key="UserPass" value="enter_a_password" />
    <add key="WrongUserPass" value="unexistentpass" />
    <add key="FullName" value="GUSTAVOVIRUEGA" />
    <add key="AutomationCompany" value="Automation Company" />
    <add key="AutomationProperty" value="Automation Property" />
    <add key="AutomationPropertyID" value="30495" />
    <add key="AutomationGeneralCategory" value="Automation General Category" />

    <!--Values to use to create data in Portal-->
    <add key="CompanyName" value="Gustavo Company" />
    <add key="PropertyName" value="Gustavo Property" />
    <add key="Address1" value="742 Evergreen Terrace" />
    <add key="GeneralItemName" value="General_Item" />
    <add key="InteriorItemName" value="Interior_Item" />
    <add key="ExteriorItemName" value="Exterior_Item" />
    <add key="ItemValue1" value="100" />
    <add key="GeneralCategoryName" value="General_Category" />

    <!--Toast Messages-->
    <add key="ToastSuccessTitle" value="Success!" />
    <add key="ToastErrorTitle" value="Error!" />
    <add key="ToastWrongNameMsg" value="Login Failed: Invalid Username" />
    <add key="ToastWrongPassMsg" value="Login Failed: Invalid Password" />
    <add key="ToastNewCompanyMsg" value="The Company was successfully created" />
    <add key="ToastNewPropertyMsg" value="The property was successfully created" />
    <add key="ToastEditPropertyMsg" value="Content was successfully saved" />
    <add key="ToastNewGeneralItemMsg" value="General Item successfully created" />
    <add key="ToastNewInteriorItemMsg" value="Interior Item successfully created" />
    <add key="ToastNewExteriorItemMsg" value="Exterior Item successfully created" />
    <add key="ToastNewGeneralCategoryMsg" value="Category successfully created" />
    
    <!--Validation Messages-->
    <add key="MsgCompanyType" value="Company type is required" />
    <add key="MsgCompanyName" value="Company name is required" />
    <add key="MsgPropertyName" value="Name is required" />
    <add key="MsgItemName" value="Name is required" />
    <add key="MsgItemValue" value="Please specify Value" />
    <add key="MsgCategoryName" value="Name is required" />
    <add key="MsgCategoryType" value="Category type is required" />
    
    <!--Portal Components Default Values-->
    <add key="CreateNewButtonLabel" value="Create New" />
    <add key="CreateNewCompanyHeader" value="CREATE NEW COMPANY" />

    <!--TestRail API Settings-->
    <add key="TestRailApiURL" value="https://infotycoon.testrail.net/"/>
    <add key="TestRailUser" value="enter_a_username"/>
    <add key="TestRailPassword" value="enter_a_passoword"/>

   <!--API Tests Data-->
   <add key="InspectionID" value="71536"/>
   
 </appSettings>
 
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
</runtime>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>